---
import Layout from "@layouts/Layout.astro";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/gallery/*.{jpeg,jpg,png,gif}"
);

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const galleryPages = [
    {
      page: 1,
    },
    {
      page: 2,
    },
    {
      page: 3,
    },
    {
      page: 4,
    },
    {
      page: 5,
    },
    {
      page: 6,
    },
    {
      page: 7,
    },
    {
      page: 8,
    },
    {
      page: 9,
    },
    {
      page: 10,
    },
  ];
  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(galleryPages, { pageSize: 1 });
}

const { page } = Astro.props as { page: {
  url: any; currentPage: number 
} };

const totalImages = 188;

const startIndex = (page.currentPage - 1) * 20;
const endIndex = Math.min(startIndex + 20, totalImages);

let imagePaths = []; // Array of image paths

for (let i = startIndex; i < endIndex; i++) {
  imagePaths.push(`/src/assets/images/gallery/gallery${i}.jpg`);
}
---


<Layout title="Gallery">
  <section class="flex flex-col gap-16 max-md:gap-8 items-center">
    <h1 class="text-5xl mb-4 self-start max-md:ml-0 text-center w-full my-10">
      Our Gallery
    </h1>
    <div class="grid grid-cols-5 gap-4 place-items-center max-md:grid-cols-1">
      {
       imagePaths.map((imagePath, index) => (
          <div>
            <Image
              src={images[
               imagePath
              ]()}
              alt={`gallery image ${index}`}
              class="object-contain cursor-pointer md:hover:scale-110 transition"
              onclick={`my_modal_${index}.showModal()`}
            />
            <dialog id={`my_modal_${index}`} class="modal modal-bottom sm:modal-middle">
              <div class="modal-box">
                 <Image
                    src={images[
                      "/src/assets/images/gallery/gallery" + index + ".jpg"
                    ]()}
                    alt={`gallery image ${index}`}
                    class="object-contain w-full h-full"
                    onclick={`my_modal_${index}.showModal()`}
                  />
                <div class="modal-action">
                  <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn">Close</button>
                  </form>
                </div>
              </div>
            </dialog>
          </div>
        ))
      }
    </div>
    <div class="w-full flex justify-between">
      {page.url.prev ? <a href={page.url.prev} class="btn btn-lg btn-secondary">Previous</a> : null}
       {page.url.next ? <a href={page.url.next} class="btn btn-lg btn-secondary">Next</a> : null}
    </div>
    
   
  </section>
</Layout>
