---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Sponsors from "../components/Sponsors";

import heroImg from "../assets/images/hero.jpg";
import dressImg from "../assets/images/dress.jpg";
import foodImg from "../assets/images/food.jpg";

import happyImg from "../assets/images/happy.jpg";
import helpingImg from "../assets/images/helping.jpg";
import smilesImg from "../assets/images/smiles.jpg";

import ProgramCard from "../components/ProgramCard.astro";

const allPrograms = await getCollection("programs");
---

<Layout title="NZ Ethnic Women's Trust">
  <div class="flex gap-20 flex-col">
    <section class="flex justify-between items-center gap-5 max-md:flex-col">
      <div>
        <p
          class="text-5xl mx-auto font-bold leading-tight max-lg:leading-relaxed max-2xl:text-4xl max-lg:text-3xl"
        >
          Our mission is to provide a safe place where women can express their
          views freely in a supportive environment.
        </p>
      </div>
      <Image
        src={heroImg}
        alt="hero"
        width={750}
        class="rounded-xl max-lg:w-96"
        loading={"eager"}
      />
    </section>

    <section class="p-8 flex flex-col items-center gap-8">
      <p class="text-4xl leading-tight max-md:text-lg">
        The New Zealand Ethnic Women's Trust is a <b>non-profit</b> led by
        migrant and refugee women from various global regions. We aim to offer a
        secure space for women to voice their perspectives and provide services
        to enhance their skills and confidence for settling in New Zealand.
      </p>
      <a
        href="/about-us"
        class="btn btn-secondary mt-4 rounded-none text-2xl max-md:text-lg w-fit"
        >Learn more about us</a
      >
    </section>

    <section>
      <h1 class="ml-8 text-5xl mb-16 max-md:ml-0 max-md:text-center">
        Our Partners
      </h1>
      <Sponsors client:only="react" />
    </section>
    <section class="flex flex-col items-center">
      <h1 class="ml-8 text-5xl mb-4 self-start max-md:ml-0 max-md:text-center">
        Our Programs
      </h1>
      <h2
        class="ml-8 text-2xl self-start max-md:ml-0 max-md:text-center max-md:text-lg"
      >
        We have various programs that we run year-round for the community.
      </h2>
      <div
        class="grid grid-cols-2 max-md:grid-cols-1 gap-10 max-w-screen-lg mt-8"
      >
        {
          allPrograms.map((program) => {
            return (
              program.data.showOnHomepage && (
                <ProgramCard
                  title={program.data.title}
                  description={program.data.description}
                  image={program.data.image}
                  hasBadge={program.data.hasBadge}
                  url={`/programs/${program.slug}`}
                />
              )
            );
          })
        }
      </div>
      <a
        href="/programs"
        class="btn btn-primary rounded-none text-2xl w-fit mt-8"
        >See All Our Programs</a
      >
    </section>
    <section
      class="mx-auto h-fit relative max-w-5xl max-md:max-w-none w-full rounded-2xl overflow-hidden"
    >
      <div
        class="absolute top-1/2 left-1/2 w-[95%] h-[95%] max-md:hidden -translate-y-1/2 -translate-x-1/2 -z-10"
      >
      </div>
      <div class="h-full grid grid-cols-2 max-md:grid-cols-1 max-md:gap-8">
        <h1
          class="text-5xl justify-self-center self-center max-md:text-6xl max-md:justify-self-start max-md:px-2"
        >
          Get involved
        </h1>
        <Image
          src={foodImg}
          alt="Food serving"
          width={700}
          class="w-full h-full object-cover md:scale-110 rounded-2xl"
        />
        <Image
          src={dressImg}
          alt="Girl in dress"
          width={600}
          class="w-full h-full object-cover md:scale-110 rounded-2xl"
        />
        <p
          class="text-2xl p-16 justify-self-center self-center max-md:text-base max-md:row-start-3 max-md:p-0 max-md:px-2"
        >
          Our organisation thrives on the dedication of our long-standing
          volunteers. If you're keen to leverage your skills to benefit the
          local community, please register to <a
            href="/volunteer"
            class="text-blue-500 hover:underline"
          >
            volunteer</a
          > with us.
        </p>
      </div>
    </section>

    <section>
      <h1 class="ml-8 text-5xl mb-8 self-start max-md:ml-0 max-md:text-center">
        Lend a Hand, Make a Difference
      </h1>
      <h2
        class="ml-8 text-xl self-start max-md:ml-0 max-md:text-center max-md:text-lg max-w-4xl"
      >
        Your help is vital for our work. Volunteer your time or contribute
        financially, whatever suits you best. Every little bit counts and is
        much appreciated.
      </h2>
      <div
        class="grid grid-cols-3 max-md:grid-cols-1 place-items-center max-w-5xl mx-auto gap-8 mt-8"
      >
        <Image
          src={happyImg}
          alt="Happy"
          width={400}
          class="rounded-2xl h-full object-cover max-md:hidden"
        />
        <Image
          src={helpingImg}
          alt="Helping"
          width={400}
          class="rounded-2xl h-full object-cover max-md:hidden"
        />
        <Image
          src={smilesImg}
          alt="Smiles"
          width={400}
          class="rounded-2xl h-full object-cover"
        />
      </div>
      <div class="flex justify-center gap-8 mt-8 items-center max-md:gap-5">
        <a
          href="/volunteer"
          class="btn btn-primary rounded-none text-4xl h-fit md:p-4 max-md:text-2xl"
          >Volunteer</a
        ><a
          href="/donate"
          class="btn btn-secondary rounded-none text-4xl h-fit md:p-4 max-md:text-2xl"
          >Donate</a
        >
      </div>
    </section>
  </div>
</Layout>
