---
interface Props {
  title: string;
}

import Footer from "../components/Footer.astro";
import Header from "../components/Header";
const { title } = Astro.props;

const pages: NavItem[] = [
  { name: "Programs", url: "/programs" },
  { name: "Events", url: "/events" },
  { name: "About Us", url: "/about-us" },
  { name: "Get Involved", url: "/get-involved" },
  { name: "Contact Us", url: "/contact-us" },
];

const socials = [
  {
    label: "email",
    icon: "mdi:email",
    action: "mailto:info@nzethnicwomen.org",
  },
  {
    label: "phone",
    icon: "mdi:phone",
    action: "tel:+640212146247",
  },
  {
    label: "instagram",
    icon: "mdi:instagram",
    action: "https://www.instagram.com/nzethnicwomen/",
  },
  {
    label: "facebook",
    icon: "mdi:facebook",
    action: "https://www.facebook.com/NZEthnicWomensTrust/",
  },
  // {
  //   label: "linkedin",
  //   icon: "mdi:linkedin",
  //   action:
  //     "https://www.linkedin.com/company/joycreative-nz/?originalSubdomain=nz",
  // },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main class="max-w-screen-xl mx-auto max-md:px-4">
      <Header pages={pages} />
      <slot />
    </main>
    <Footer pages={pages} socials={socials} />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
